Center/App_WebReferences/office_MainWS/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Datatable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DatatableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DatatableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownLoadResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="center_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownLoadResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownLoadResultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Unit_Version">
        <s:complexType />
      </s:element>
      <s:element name="Unit_VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Unit_VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Per_Version">
        <s:complexType />
      </s:element>
      <s:element name="Per_VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Per_VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnitData">
        <s:complexType />
      </s:element>
      <s:element name="UnitDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnitDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetTest">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSetTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetTestResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DatatableSoapIn">
    <wsdl:part name="parameters" element="tns:Datatable" />
  </wsdl:message>
  <wsdl:message name="DatatableSoapOut">
    <wsdl:part name="parameters" element="tns:DatatableResponse" />
  </wsdl:message>
  <wsdl:message name="DownLoadResultSoapIn">
    <wsdl:part name="parameters" element="tns:DownLoadResult" />
  </wsdl:message>
  <wsdl:message name="DownLoadResultSoapOut">
    <wsdl:part name="parameters" element="tns:DownLoadResultResponse" />
  </wsdl:message>
  <wsdl:message name="UploadResultSoapIn">
    <wsdl:part name="parameters" element="tns:UploadResult" />
  </wsdl:message>
  <wsdl:message name="UploadResultSoapOut">
    <wsdl:part name="parameters" element="tns:UploadResultResponse" />
  </wsdl:message>
  <wsdl:message name="Unit_VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Unit_Version" />
  </wsdl:message>
  <wsdl:message name="Unit_VersionSoapOut">
    <wsdl:part name="parameters" element="tns:Unit_VersionResponse" />
  </wsdl:message>
  <wsdl:message name="Per_VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Per_Version" />
  </wsdl:message>
  <wsdl:message name="Per_VersionSoapOut">
    <wsdl:part name="parameters" element="tns:Per_VersionResponse" />
  </wsdl:message>
  <wsdl:message name="UnitDataSoapIn">
    <wsdl:part name="parameters" element="tns:UnitData" />
  </wsdl:message>
  <wsdl:message name="UnitDataSoapOut">
    <wsdl:part name="parameters" element="tns:UnitDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetResultByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetResultByID" />
  </wsdl:message>
  <wsdl:message name="GetResultByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetTestSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSetTest" />
  </wsdl:message>
  <wsdl:message name="GetDataSetTestSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetTestResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Datatable">
      <wsdl:input message="tns:DatatableSoapIn" />
      <wsdl:output message="tns:DatatableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadResult">
      <wsdl:input message="tns:DownLoadResultSoapIn" />
      <wsdl:output message="tns:DownLoadResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadResult">
      <wsdl:input message="tns:UploadResultSoapIn" />
      <wsdl:output message="tns:UploadResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Unit_Version">
      <wsdl:input message="tns:Unit_VersionSoapIn" />
      <wsdl:output message="tns:Unit_VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Per_Version">
      <wsdl:input message="tns:Per_VersionSoapIn" />
      <wsdl:output message="tns:Per_VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnitData">
      <wsdl:input message="tns:UnitDataSoapIn" />
      <wsdl:output message="tns:UnitDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByID">
      <wsdl:input message="tns:GetResultByIDSoapIn" />
      <wsdl:output message="tns:GetResultByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSetTest">
      <wsdl:input message="tns:GetDataSetTestSoapIn" />
      <wsdl:output message="tns:GetDataSetTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datatable">
      <soap:operation soapAction="http://tempuri.org/Datatable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadResult">
      <soap:operation soapAction="http://tempuri.org/DownLoadResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadResult">
      <soap:operation soapAction="http://tempuri.org/UploadResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unit_Version">
      <soap:operation soapAction="http://tempuri.org/Unit_Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Per_Version">
      <soap:operation soapAction="http://tempuri.org/Per_Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnitData">
      <soap:operation soapAction="http://tempuri.org/UnitData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByID">
      <soap:operation soapAction="http://tempuri.org/GetResultByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetTest">
      <soap:operation soapAction="http://tempuri.org/GetDataSetTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Datatable">
      <soap12:operation soapAction="http://tempuri.org/Datatable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadResult">
      <soap12:operation soapAction="http://tempuri.org/DownLoadResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadResult">
      <soap12:operation soapAction="http://tempuri.org/UploadResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unit_Version">
      <soap12:operation soapAction="http://tempuri.org/Unit_Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Per_Version">
      <soap12:operation soapAction="http://tempuri.org/Per_Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnitData">
      <soap12:operation soapAction="http://tempuri.org/UnitData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByID">
      <soap12:operation soapAction="http://tempuri.org/GetResultByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSetTest">
      <soap12:operation soapAction="http://tempuri.org/GetDataSetTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://192.168.0.29/AWS/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://192.168.0.29/AWS/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>