Center/App_WebReferences/MainWS_KUMA_PC/webService3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownLoadResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="center_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownLoadResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownLoadResultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Re_DownLoadResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="center_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Re_DownLoadResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Re_DownLoadResultResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_7DayResultCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="center_code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_7DayResultCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_7DayResultCountResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="DownLoadResultSoapIn">
    <wsdl:part name="parameters" element="tns:DownLoadResult" />
  </wsdl:message>
  <wsdl:message name="DownLoadResultSoapOut">
    <wsdl:part name="parameters" element="tns:DownLoadResultResponse" />
  </wsdl:message>
  <wsdl:message name="Re_DownLoadResultSoapIn">
    <wsdl:part name="parameters" element="tns:Re_DownLoadResult" />
  </wsdl:message>
  <wsdl:message name="Re_DownLoadResultSoapOut">
    <wsdl:part name="parameters" element="tns:Re_DownLoadResultResponse" />
  </wsdl:message>
  <wsdl:message name="Get_7DayResultCountSoapIn">
    <wsdl:part name="parameters" element="tns:Get_7DayResultCount" />
  </wsdl:message>
  <wsdl:message name="Get_7DayResultCountSoapOut">
    <wsdl:part name="parameters" element="tns:Get_7DayResultCountResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService3Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadResult">
      <wsdl:input message="tns:DownLoadResultSoapIn" />
      <wsdl:output message="tns:DownLoadResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Re_DownLoadResult">
      <wsdl:input message="tns:Re_DownLoadResultSoapIn" />
      <wsdl:output message="tns:Re_DownLoadResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get_7DayResultCount">
      <wsdl:input message="tns:Get_7DayResultCountSoapIn" />
      <wsdl:output message="tns:Get_7DayResultCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService3Soap" type="tns:WebService3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadResult">
      <soap:operation soapAction="http://tempuri.org/DownLoadResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Re_DownLoadResult">
      <soap:operation soapAction="http://tempuri.org/Re_DownLoadResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_7DayResultCount">
      <soap:operation soapAction="http://tempuri.org/Get_7DayResultCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService3Soap12" type="tns:WebService3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadResult">
      <soap12:operation soapAction="http://tempuri.org/DownLoadResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Re_DownLoadResult">
      <soap12:operation soapAction="http://tempuri.org/Re_DownLoadResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_7DayResultCount">
      <soap12:operation soapAction="http://tempuri.org/Get_7DayResultCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService3">
    <wsdl:port name="WebService3Soap" binding="tns:WebService3Soap">
      <soap:address location="http://localhost:41356/webService3.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService3Soap12" binding="tns:WebService3Soap12">
      <soap12:address location="http://localhost:41356/webService3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>