Center/App_WebReferences/RemoteWS/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResultFor3KRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResultFor3KRunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResultFor3KRunResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResultFor3KRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResultFor3KRunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResultFor3KRunResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dt">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RacePlayerIDList">
        <s:complexType />
      </s:element>
      <s:element name="RacePlayerIDListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RacePlayerIDListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RacePlayerIDCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="center_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RacePlayerIDCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RacePlayerIDCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaceRecordByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RaceRecordByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RaceRecordByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddResultFor3KRunSoapIn">
    <wsdl:part name="parameters" element="tns:AddResultFor3KRun" />
  </wsdl:message>
  <wsdl:message name="AddResultFor3KRunSoapOut">
    <wsdl:part name="parameters" element="tns:AddResultFor3KRunResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateResultFor3KRunSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateResultFor3KRun" />
  </wsdl:message>
  <wsdl:message name="UpdateResultFor3KRunSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResultFor3KRunResponse" />
  </wsdl:message>
  <wsdl:message name="InsertResultSoapIn">
    <wsdl:part name="parameters" element="tns:InsertResult" />
  </wsdl:message>
  <wsdl:message name="InsertResultSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResultResponse" />
  </wsdl:message>
  <wsdl:message name="RacePlayerIDListSoapIn">
    <wsdl:part name="parameters" element="tns:RacePlayerIDList" />
  </wsdl:message>
  <wsdl:message name="RacePlayerIDListSoapOut">
    <wsdl:part name="parameters" element="tns:RacePlayerIDListResponse" />
  </wsdl:message>
  <wsdl:message name="RacePlayerIDCountSoapIn">
    <wsdl:part name="parameters" element="tns:RacePlayerIDCount" />
  </wsdl:message>
  <wsdl:message name="RacePlayerIDCountSoapOut">
    <wsdl:part name="parameters" element="tns:RacePlayerIDCountResponse" />
  </wsdl:message>
  <wsdl:message name="RaceRecordByIDSoapIn">
    <wsdl:part name="parameters" element="tns:RaceRecordByID" />
  </wsdl:message>
  <wsdl:message name="RaceRecordByIDSoapOut">
    <wsdl:part name="parameters" element="tns:RaceRecordByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddResultFor3KRun">
      <wsdl:input message="tns:AddResultFor3KRunSoapIn" />
      <wsdl:output message="tns:AddResultFor3KRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResultFor3KRun">
      <wsdl:input message="tns:UpdateResultFor3KRunSoapIn" />
      <wsdl:output message="tns:UpdateResultFor3KRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertResult">
      <wsdl:input message="tns:InsertResultSoapIn" />
      <wsdl:output message="tns:InsertResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RacePlayerIDList">
      <wsdl:input message="tns:RacePlayerIDListSoapIn" />
      <wsdl:output message="tns:RacePlayerIDListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RacePlayerIDCount">
      <wsdl:input message="tns:RacePlayerIDCountSoapIn" />
      <wsdl:output message="tns:RacePlayerIDCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RaceRecordByID">
      <wsdl:input message="tns:RaceRecordByIDSoapIn" />
      <wsdl:output message="tns:RaceRecordByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResultFor3KRun">
      <soap:operation soapAction="http://tempuri.org/AddResultFor3KRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResultFor3KRun">
      <soap:operation soapAction="http://tempuri.org/UpdateResultFor3KRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertResult">
      <soap:operation soapAction="http://tempuri.org/InsertResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RacePlayerIDList">
      <soap:operation soapAction="http://tempuri.org/RacePlayerIDList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RacePlayerIDCount">
      <soap:operation soapAction="http://tempuri.org/RacePlayerIDCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaceRecordByID">
      <soap:operation soapAction="http://tempuri.org/RaceRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResultFor3KRun">
      <soap12:operation soapAction="http://tempuri.org/AddResultFor3KRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResultFor3KRun">
      <soap12:operation soapAction="http://tempuri.org/UpdateResultFor3KRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertResult">
      <soap12:operation soapAction="http://tempuri.org/InsertResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RacePlayerIDList">
      <soap12:operation soapAction="http://tempuri.org/RacePlayerIDList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RacePlayerIDCount">
      <soap12:operation soapAction="http://tempuri.org/RacePlayerIDCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RaceRecordByID">
      <soap12:operation soapAction="http://tempuri.org/RaceRecordByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:3461/Center/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:3461/Center/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>